// Colors Base
$text-light-gray: #808080;
$text-light-white: #fff;
$text-light-blue: #067db1;
$text-dark: #000;
$input-background: #e0dada;
$btn-primary: #067db1;
$btn-primary-hover: #03a8ee;
$border-dark: #000;
$circle-background: #008000;
$head-background: #e4e3e3;
