.persons-list {
    width: 100%;

    > .header {
        display: grid;
        grid-template-columns: auto 2fr 1fr;
        margin-bottom: 20px;

        > .texts {
            .title {
                font-family: 'Roboto', sans-serif;
                text-align: left;
                margin-bottom: 0;
            }

            .data {
                text-align: left;
                color: gray;

                .number {
                    color: #067db1;
                }
            }
        }

        > .search {
            display: flex;
            align-items: center;
            padding: 10px;
            padding-bottom: 0;

            .fas {
                color: gray;
            }

            .input-search {
                width: 80%;
                height: 40px;
                margin-left: 20px;
                border: none;
                background-color: #e0dada;
            }
        }

        > .options-header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            > .type, .source {
                color: gray;
                margin: auto;
            }

            > .content-button {
                margin: auto;

                .btn-add {
                    background-color: #067db1;
                    border: none;
                    border-radius: 20px;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: bold;

                    &:hover {
                      background-color: #03a8ee;
                    }

                    .fas {
                        margin-right: 2px;
                    }
                }
            }
        }
    }

    > .list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, auto);

        > span {
            padding: 8px 4px;
            color: #9a9999;
            width: 100%;
            height: 100%;
        }

        > .head {
            height: 40px;
            display: flex;
            align-items: center;
            background-color: #e4e3e3;
            color: gray;
            text-transform: uppercase;

            &.lead-head {
                text-align: left;
                padding-left: 18px;
            }
        }

        > .lead {
            display: grid;
            grid-template-columns: auto 1fr;
            text-align: center;
            color: black;

            > .image-people {
                width: 50px;
                height: 50px;
                padding-left: 10px;
                margin: auto;
            }

            > .info {
                margin: auto;

                .name {
                    margin-top: 5px;
                    margin-bottom: 0;
                }

                .case {
                    text-decoration: none;
                    color: gray;
                }
            }
        }

        > .lead, .email, .phone, .source, .status {
            height: 80px;
            border-bottom: 1px solid gray;
        }

        > .email, .phone, .source, .status {
            display: flex;
            align-items: center;
        }

        > .email {
            color: #067db1;
        }

        > .source {
            display: grid;
            grid-template-columns: 1fr 5%;
            text-align: left;

            .fas {
                margin-left: 10px;
            }
        }

        > .status {
            width: 100%;
            display: grid;
            grid-template-columns: 70% 20%;

            > .select {
                width: 70%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-radius: 20px;
                border: 1px solid gray;
                padding: 10px;

                > .circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid black;
                    background-color: green;
                }

                .fa-angle-down {
                    margin-left: 12px;
                }
            }

            > .options {
                font-size: 30px;
            }
        }
    }

    > .detail {
        display: none;
    }

    // Media Querys
    @media (max-width: 900px) {
        > .list {
            display: none;
        }

        > .detail {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .person {
                display: grid;
                grid-template-rows: auto;
                grid-row-gap: 10px;
                margin-bottom: 20px;

                .lead {
                    display: grid;
                    justify-content: center;
                    text-align: center;

                    .name {
                        margin-bottom: 0;
                    }

                    .case {
                        text-decoration: none;
                        color: gray;
                    }
                }

                .email, .phone, .source, .status, .options {
                    text-align: center;
                }

                .email {
                    color: #067db1;
                }

                .phone, .source, .status, .options {
                    color: gray;
                }

                .status {
                    margin: auto;

                    > .select {
                        width: 70%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        border-radius: 20px;
                        border: 1px solid gray;
                        padding: 10px;

                        > .circle {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid black;
                            background-color: green;
                        }
                    }
                }

                .fas {
                    margin-left: 5px;
                }
            }
        }
    }

    @media (max-width: 600px) {
        > .header {
            grid-template-columns: repeat(2, 1fr);

            .options-header {
                grid-template-columns: repeat(3, auto);
                grid-column: 1 / -1;
            }
        }

        > .detail {
            grid-template-columns: 1fr;
        }
    }
}
