@import "colors";
@import "fonts";

.persons-list {
    width: 100%;

    > .header {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        margin-bottom: 1.25rem;

        > .texts {
            .title {
                font-family: $font-Roboto;
                text-align: left;
                margin-bottom: 0;
            }

            .data {
                text-align: left;
                color: $text-light-gray;

                .number {
                    color: $text-light-blue;
                }
            }
        }

        > .search {
            display: flex;
            align-items: center;
            padding: 0.625rem;
            padding-bottom: 0;

            .fas {
                color: $text-light-gray;
            }

            .input-search {
                width: 80%;
                height: 2.5rem;
                margin-left: 1.25rem;
                border: none;
                background-color: $input-background;
                padding-left: 0.625rem;
            }
        }

        > .options-header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;

            > .type, .source {
                color: $text-light-gray;
                margin: auto;
            }

            > .content-button {
                margin: auto;

                .btn-add {
                    background-color: $btn-primary;
                    border: none;
                    border-radius: 1.25rem;
                    color: $text-light-white;
                    padding: 0.9375rem 2rem;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: inline-block;
                    font-size: 0.75rem;
                    font-weight: bold;

                    &:hover {
                        background-color: $btn-primary-hover;
                    }

                    .fas {
                        margin-right: 0.125rem;
                    }
                }
            }
        }
    }

    > .list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, auto);

        > span {
            padding: 0.5rem 0.25rem;
            color: $text-light-gray;
            width: 100%;
            height: 100%;
        }

        > .head {
            height: 2.5rem;
            display: flex;
            align-items: center;
            background-color: $head-background;
            color: $text-light-gray;
            text-transform: uppercase;

            &.lead-head {
                text-align: left;
                padding-left: 10.5rem;
            }
        }

        > .lead {
            display: grid;
            grid-template-columns: auto 1fr;
            text-align: center;
            color: $text-dark;

            > .image-people {
                height: 3.125rem;
                padding-left: 0.625rem;
                margin: auto;
                border-radius: 50%;
            }

            > .info {
                margin: auto;

                .name {
                    margin-top: 0.3125rem;
                    margin-bottom: 0;
                }

                .case {
                    text-decoration: none;
                    color: $text-light-gray;
                }
            }
        }

        > .lead, .email, .phone, .source, .status {
            height: 5rem;
            border-bottom: 0.0625rem solid $text-light-gray;
        }

        > .email, .phone, .source, .status {
            display: flex;
            align-items: center;
        }

        > .email {
            color: $text-light-blue;
        }

        > .source {
            display: grid;
            grid-template-columns: 1fr 5%;
            text-align: left;

            .fas {
                margin-left: 0.625rem;
            }
        }

        > .status {
            width: 100%;
            display: grid;
            grid-template-columns: 70% 20%;

            > .select {
                width: 70%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                border-radius: 1.25rem;
                border: 0.0625rem solid $text-light-gray;
                padding: 0.625rem;

                > .circle {
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    border: 0.0625rem solid $border-dark;
                    background-color: $circle-background;
                }

                .fa-angle-down {
                    margin-left: 0.75rem;
                }
            }

            > .options {
                font-size: 1.875rem;
            }
        }
    }
    // Style General del Btn Delete
    .btn-delete {
        border: none;
        background: none;
        color: $text-light-gray;

        &:hover {
            color: $text-light-blue;
            font-size: 1.25rem;
        }
    }

    > .detail {
        display: none;
    }

    // Media Querys
    @media (max-width: 900px) {
        > .list {
            display: none;
        }

        > .detail {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .person {
                display: grid;
                grid-template-rows: auto;
                grid-row-gap: 0.625rem;
                margin-bottom: 1.25rem;

                .lead {
                    display: grid;
                    justify-content: center;
                    text-align: center;

                    .image-people {
                        border-radius: 50%;
                    }

                    .name {
                        margin-bottom: 0;
                    }

                    .case {
                        text-decoration: none;
                        color: $text-light-gray;
                    }
                }

                .email, .phone, .source, .status, .options {
                    text-align: center;
                }

                .email {
                    color: $text-light-blue;
                }

                .phone, .source, .status, .options {
                    color: $text-light-gray;
                }

                .status {
                    margin: auto;

                    > .select {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        border-radius: 1.25rem;
                        border: 0.0625rem solid $text-light-gray;
                        padding: 0.625rem;

                        > .circle {
                            width: 1.25rem;
                            height: 1.25rem;
                            border-radius: 50%;
                            border: 0.0625rem solid $border-dark;
                            background-color: $circle-background;
                        }
                    }
                }

                .fas {
                    margin-left: 0.3125rem;
                }
            }
        }
    }

    @media (max-width: 600px) {
        > .header {
            grid-template-columns: repeat(2, 1fr);

            .options-header {
                grid-template-columns: repeat(3, auto);
                grid-column: 1 / -1;
            }
        }

        > .detail {
            grid-template-columns: 1fr;
        }
    }
}
